[submodule "lib/genji"]
	path = lib/genji
	url = http://github.com/zir/genji.git
[submodule "lib/nun"]
	path = lib/nun
	url = http://github.com/akaspin/nun.git
[submodule "lib/node-mongodb-native"]
	path = lib/node-mongodb-native
	url = git://github.com/christkv/node-mongodb-native
[submodule "lib/UglifyJS"]
	path = lib/UglifyJS
	url = git://github.com/mishoo/UglifyJS.git
[submodule "lib/node-markdown"]
	path = lib/node-markdown
	url = http://github.com/andris9/node-markdown.git
[submodule "lib/fugue"]
	path = lib/fugue
	url = http://github.com/pgte/fugue.git
