[submodule "lib/genji"]
	path = lib/genji
	url = http://github.com/zir/genji.git
[submodule "lib/nun"]
	path = lib/nun
	url = http://github.com/akaspin/nun.git
[submodule "lib/node-mongodb-native"]
	path = lib/node-mongodb-native
	url = git://github.com/christkv/node-mongodb-native
