<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="utf-8" xml:lang="utf-8>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Simple REST debuger</title>
    <script type="text/javascript" src="right.js"></script>
    <script type="text/javascript">
        function domReady() {
            var params = {};
            $("send").onClick(function() {
                $$(".param input").each(function(e){
                    var p = e.value.split(",");
                    p.length === 2 && (params[p[0]] = p[1].trim());
                });

                var xhr = new Xhr($("url").get("value"), {
                    method: $("method").get("value"),
		            evalJSON: false,
		            secureJSON: false,
                    onComplete: function(request) {
                        $("response").innerHTML = this.text;
                    }
                    }).send($("as_json").get("checked") ? JSON.stringify(params) : params);
		            params = {}; // reset params
            });

            $("add_param").onClick(function() {
                $("params").insert({after: '<div class="param"><input/></div>'});
            });
        }
        document.onReady(domReady);
    </script>
</head>
<body>
    <!--Server <input id="server" value="127.0.0.1"/> <br /><br />
    Port <input id="port" value="8000"/> <br /><br />-->
    <form action="/upload/" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="text" name="content">
        <input type="submit" value="Upload">
    </form>
    Method <input id="method" value="post"/> <br /><br />
    URL <input id="url" value="/"/> <br /><br />
    As JSON <input id="as_json" type="checkbox"/><br /><br />
    <div id="params"><input id="add_param" type="button" value="Add parameter"></input>
    	Two fields separated by comma (e.g. key, value => {key: vlaue})
    </div>
    <input id="send" type="button" value="Send"/><br /><br />
    Response <div id="response"></div>
</body>
</html>
