<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Nodepress.com | a blogging tool built on top of nodejs</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{staticUrl}}/css/screen.css" />
        <script src="{{staticUrl}}/js/rightjs/right-1.5.6.js" type="text/javascript" language="javascript"></script>
        <script src="{{staticUrl}}/js/rightjs/right-tabs.js" type="text/javascript" language="javascript"></script>
        <script src="{{staticUrl}}/js/mustache.min.js" type="text/javascript" language="javascript"></script>
        <script src="{{staticUrl}}/js/showdown.js" type="text/javascript" language="javascript"></script>
        <script src="{{staticUrl}}/js/nodepress.js" type="text/javascript" language="javascript"></script>

        <style type="text/css">
        </style>
        <script type="text/javascript" language="javascript">
            document.onReady(function() {
                var tabs = new Tabs('np-toolbar'), lastContent, converted, escaped,
                showdown = new Showdown.converter();
                //var log = console.log; // for debugging
                // convert markdown and show the converted in preview div
                function convert() {
                    var content = $('np-textarea').value;
                    content = content === lastContent ? false : content;
                    if (content !== false) {
                        lastContent = content;
                        converted = showdown.makeHtml(content);
                        $('np-preview').set('innerHTML', converted);
                    }
                }

                // editor
                convert(); // convert once onload
                $('np-textarea').on('input', function() {
                    convert();
                });
                
                // save post
                var post_id;
                function newOrUpdate(id) {
                    if (id) {
                        $('np-save-to').set('value', '/update/');
                        post_id = id;
                    } else {
                        $('np-save-to').set('value', '/new/');
                        post_id = null;
                    }
                }
                function resetEditor() {
                    ['np-title', 'np-tags', 'np-textarea'].each(function(item) {
                       $(item).value = '';
                    });
                    $('np-preview').innerHTML = '';
                    newOrUpdate();
                }
                var post = {};
                function onSave(publish, callback) {
                    post.title = $('np-title').value;
                    post.tags = [];
                    $('np-tags').value.split(',').each(function(tag) {
                        if (tag) post.tags.push(tag.trim());
                    });
                    post.content = $('np-textarea').value;
                    if (post_id) post._id = post_id;
                    if (publish) post.published = 1;
                    new Xhr($('np-save-to').get('value'), {
                        onSuccess: function(request) {
                            newOrUpdate(this.text);
                            callback && callback();
                        },
                        onFailure: function(request) {
                            // show error
                        }
                    }).send(JSON.stringify(post));
                }

                $('np-save').onClick(onSave);
                $('np-publish').onClick(function() {
                    onSave(true, resetEditor);
                });
                

                // load template, post list
                var sections = {posts: '{{& posts}}'},
                skip = 0, limit = 5, tagSelected = [];
                function getList(tpl, skip, limit, tags) {
                    var url = '/list/' + skip + '/' + limit + '/';
                    if (tags.length > 0) {
                        url += tags.join(',') + '/';
                    }
                    new Xhr(url, {
                        method: 'get',
                        onSuccess: function(request) {
                            var json = request.responseJSON;
                            if (isArray(json)) {
                                var views = {posts: json.each(function(view) {
                                        view.content = showdown.makeHtml(view.content);
                                        view.published = new Date(parseInt(view.published)).toLocaleDateString();
                                        if (view.hasOwnProperty("tags")) {
                                            view.tags.each(function(tag, idx) {
                                                view.tags[idx] = {name: tag};
                                            });
                                        }
                                    })};
                                var post = Mustache.to_html(tpl, views);
                                $('np-posts').innerHTML = post;
                                // bind event to tags
                                $$('.np-post-tag').each('onClick', function(event) {
                                    if (tags.indexOf(event.currentTarget.innerHTML) < 0) {
                                        tags.push(event.currentTarget.innerHTML);
                                        tagSelected = tags;
                                    }
                                    getList(tpl, skip, limit, tags);
                                });
                            } // @todo popup error
                        }
                    }).send();
                }

                function updateTagsFilter() {
                
                }

                getList(sections.posts, skip, limit, tagSelected);
                new Tabs('simple-tabs');
            });

        </script>
    </head>
    <body>
        <div class="np-main">

            <!-- header -->
            <div class="np-full-width">
                <div class="np-info np-logo">
		    	  nodepress.com
                </div>
                <div class="np-delimiter"></div>
                <div class="np-info np-header">
                    a blogging tool built on top of nodejs
                </div>
            </div>
            <!-- toolbar -->
            <div id="np-toolbar" class="np-full-width np-toolbar">
                <ul>
                    <li><a href="#np-toolbar-comments">Recent comments</a></li>
                    <li><a href="#np-toolbar-editor">New post</a></li>
                </ul>
                <div id="np-toolbar-comments" class="np-full-width">
                    <p>Here you can see the lastest comments on your blog</p>
                </div>
                <div id="np-toolbar-editor" class="np-full-width">
                    <div class="np-editor">
                        <input id="np-save-to" value="/new/"></input>
                        <input id="np-title"></input>
                        <textarea id="np-textarea" class="np-full-width" rows="25"></textarea>
                        <input id="np-tags"></input>
                    </div>
                    <div class="np-editor">
                        <div id="np-preview"></div>
                        <button id="np-save">Save</button>
                        <button id="np-publish">Publish</button>
                    </div>
                </div>
            </div>

            <!-- search and tags filter -->
            <div class="np-full-width" id="np-search">
                <!--<input id="np-search-input"></input>-->
                
            </div>

            <!-- posts list and sidebar -->
            <div class="np-full-width">
                <div id="np-posts">
                </div>
                <!--<div class="fixed column np-delimiter vertical-center"></div>-->
                <div class="np-sidebar">
                    <div class="np-sidebar-item">
                        <p><strong>SIDEBAR</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="np-footer" >
                    <p><strong>FOOTER</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </body>
</html>