<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Nodepress.com | a blogging tool built on top of nodejs</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{staticUrl}}/css/screen.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{staticUrl}}/css/tabs.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{staticUrl}}/css/jquery.gritter.css" />
    </head>
    <body>
        <div class="np-main">
            <!-- sign in/out -->
            <div class="np-full-width">
                {{#is_owner}}
                    <a id="np-signout" href="#signout" class="np-right">Sign out</a>
                {{/is_owner}}
                {{^is_owner}}
                    <div class="np-signin np-right">
                        Username: <input id="np-username"></input> 
                        Password: <input id="np-password" type="password"></input>
                        <button id="np-signin">Sign in</button>
                    </div>
                {{/is_owner}}
            </div>

            <!-- header -->
            <div id="np-header" class="np-full-width">
                <div class="np-info np-logo">
		    	  Nodepress.com
                </div>
                <div class="np-delimiter"></div>
                <div class="np-info np-head-info">
                    a blogging tool built on top of nodejs
                </div>
            </div>
            {{#is_owner}}
            <!-- toolbar -->
            <div id="np-toolbar" class="np-full-width np-toolbar">
                <ul id="np-tabs" class="np-tabs">
                    <li><a id="np-tab-comments" href="#np-toolbar-comments">Recent comments</a></li>
                    <li><a id="np-tab-editor" href="#np-toolbar-editor">New post</a></li>
                    <li><a id="np-tab-trackers" href="#np-toolbar-trackers">Tracker</a></li>
                </ul>
                <div id="np-toolbar-comments" class="np-full-width np-tab">
                    <p>Here you can see the lastest comments on your blog</p>
                </div>
                <div id="np-toolbar-editor" class="np-full-width np-tab">
                    <div class="np-editor">
                        <input id="np-title"></input>
                        <textarea id="np-textarea" class="np-full-width" rows="25"></textarea>
                        <input id="np-tags"></input>
                    </div>
                    <div class="np-editor np-right">
                        <div id="np-preview"></div>
                        <button id="np-save">Save</button>
                        <button id="np-publish">Publish</button>
                    </div>
                </div>
                <div id="np-toolbar-trackers" class="np-full-width np-tab">
                    <textarea id="np-tracker" class="np-full-width" rows="10"></textarea>
                    <button id="np-save-tracker">Save tracker</button>
                </div>
            </div>
            {{/is_owner}}
            
            <!-- posts list and sidebar -->
            <div class="np-full-width">
                <div id="np-content">
                    <div id="np-filter" class="np-post">
                        <div id="np-filter-tags"></div>
                        <div class="np-right">
                            <div id="np-post-perpage">
                                <a href="#5-per-page">5</a>
                                <a href="#15-per-page">15</a>
                                <a href="#25-per-page">25</a>
                            </div>
                            <div id="np-pager">
                                <a id="np-prev-page"><<</a>
                                <a id="np-next-page">>></a>
                            </div>
                        </div>
                    </div>
                    <div id="np-posts">
                        <div class="np-full-width"></div>
                    </div>
                </div>
                <div class="np-sidebar">
                    <div class="np-sidebar-item">
                        <p><strong>SIDEBAR</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="np-footer" >
                    <p><strong>FOOTER</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
        <script src="{{staticUrl}}/js{{debugUrl}}/deps.js" type="text/javascript" language="javascript"></script>
        <script src="{{staticUrl}}/js{{debugUrl}}/nodepress.js" type="text/javascript" language="javascript"></script>
        <script type="text/javascript" language="javascript">
            $(function() {
                // store the jquery object for later usage
                var np = {};
                np.filter = $('#np-filter'),
                np.filterTags = $('#np-filter-tags'),
                np.posts = $('#np-posts'),
                np.tabComments = $('#np-tab-comments');
                // for login
                np.username = $('#np-username'),
                np.password = $('#np-password'),
                np.signin = $('#np-signin'),
                np.signout = $('#np-signout');
                // pager
                np.nextPage = $('#np-next-page');
                np.prevPage = $('#np-prev-page');
                $.np.dom = np;
                $.np.init();

                np.signin.click($.np.signIn);
                np.signout.click(function() {
                    document.cookie = "{{cookieName}}=" + ";path=/" + ";expires=Thu, 01-Jan-1970 00:00:01 GMT";
                    location.href = '/';
                });

                // load template, post list
                $.np.api.list();
            });

        </script>
        {{#is_owner}}
        <!-- only run for authorized user -->
        <script type="text/javascript" language="javascript">
            $(function() {
                var np = $.np.dom;
                np.tabs = $("#np-tabs").tabs("div.np-tab", { history: true , effect: 'default'}),
                // editor
                np.title = $('#np-title'),
                np.tags = $('#np-tags'),
                np.input = $('#np-textarea'),
                np.previewDiv = $('#np-preview'),
                np.editor = $('.np-editor'),
                np.save = $('#np-save'),
                np.publish = $('#np-publish');
                function convert() {
                    $.np.preview(np.input, np.previewDiv);
                }
                // convert once onload
                convert();
                // bind events
                np.input.bind('input', function() {
                    convert();
                });
                np.save.click(function(event) {
                    $.np.api.save();
                });
                np.publish.click(function(event) {
                    $.np.api.save(true);
                });
                // tracker
                np.tracker = $('#np-tracker'),
                np.saveTracker = $('#np-save-tracker');
                $.np.api.getTracker();
                np.saveTracker.click($.np.api.saveTracker);
                // after rendered post
                var emitter = $.np.emitter;
                emitter.bind('PostsRendered', function() {
                    $('div.np-post-info').append('<a href="#np-toolbar-editor" class="np-post-edit np-left">edit</a>');
                    $('a.np-post-edit').bind('click', function(event) {
                        var postId = $(event.currentTarget).parent('.np-post-info').parent('.np-post').attr('id');
                        $.np.fillEditor(postId);
                    });
                });

            });
        </script>
        {{/is_owner}}

        {{& tracker}}
    </body>
</html>