{{> share/header.html}}
    <body>
        <div class="np-main">
            <!-- sign in/out -->
            <div class="np-full-width">
                {{#is_owner}}
                <a id="np-signout" href="#signout" class="np-right">Sign out</a>
                {{/is_owner}}
                {{^is_owner}}
                <div class="np-signin np-right">
                    Username: <input id="np-username"></input>
                    Password: <input id="np-password" type="password"></input>
                    <button id="np-signin">Sign in</button>
                </div>
                {{/is_owner}}
            </div>

            <!-- header -->
            {{> share/top.html}}
            <!-- toolbar -->
            {{> share/toolbar.html}}

            <!-- posts list and sidebar -->
            <div class="np-full-width">
                <div id="np-content">
                    <div id="np-filter" class="np-post">
                        <div id="np-filter-tags"></div>
                        <div class="np-right">
                            <div id="np-post-perpage">
                                <a href="#5-per-page">5</a>
                                <a href="#15-per-page">15</a>
                                <a href="#25-per-page">25</a>
                            </div>
                            <div id="np-pager">
                                <a id="np-prev-page"><<</a>
                                <a id="np-next-page">>></a>
                            </div>
                        </div>
                    </div>
                    <div id="np-posts">
                        {{#posts}}<div id="{{_id}}" class="np-post"><h2 class="np-post-title"><a href="/article/{{_id}}/{{title}}/">{{title}}</a></h2>
                            <div class="np-post-info np-right"><h4 class="np-post-date">{{published}}</h4></div>
                            <div class="np-post-content">{{& content}}</div>
                            <div class="np-post-tags np-right">{{#tags}}<div class="np-post-tag">{{name}}</div>{{/tags}}</div></div>{{/posts}}
                    </div>
                </div>
                {{> share/sidebar.html}}
            </div>
            {{> share/footer.html}}
        </div>
        {{> share/script.html}}
{{> share/end.html}}