/* 
    Document   : style
    Created on : Oct 12, 2010, 12:54:57 PM
    Author     : zai
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

