/*** MEYER RESET v1.0 ***/
/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
*/



.np-full-width {
    margin: 5px 0;
    width: 100%;
}

.np-left {
    float: left;
}

.np-right {
    float: right !important;
}

/*** Classes ***/

.np-main {
    float: none;
    margin: 0 auto;
    width: 974px;
}

.np-main div {
    float :left;
}

#np-header {
/*position:fixed;
top:30px;
*/
}

.np-signin input {
    width: 96px;
}
.np-signin button {
}

.np-logo {
    width: 139px;
    min-height: 14px;
}

.np-head-info {
    width: 777px;
}

.np-dashed {
    border: 1px dashed #333333;
}

.np-delimiter {
    border: 2px double maroon;
    float: left;
    width: 0px;
    min-height: 55px;
    margin:0px 5px;
}

.np-hide {
    display: none;
}

.np-info {
	background-image:initial;
	background-repeat-x:initial;
	background-repeat-y:initial;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#F0F0F0;
	font-family:Verdana, Arial, sans-serif;
	font-size:14px;
	color:#444444;
	border:1px dashed #CCCCCC;
	margin:10px auto;
	padding:10px;
}

#np-content {
    width: 643px;
}

#np-filter {
    height: 24px;
    border: 1px solid #BBBBBB;
}

.np-filter-tag {
    border:1px solid #999999;
    height:16px;
    margin:2px;
    padding:2px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#np-post-perpage a {
    margin: 4px 5px;
}

#np-pager a {
    margin: 4px 5px;
}

#np-posts {
    width: 643px;
    min-height: 10px;
}

.np-post {
    width: 611px;
    padding: 5px;
    margin-bottom: 10px;
	border:1px dashed #CCCCCC;
}

.np-post-title {
    float: left;
    padding-left: 15px;
    font-size: 1.5em;
    font-family: Arial,Helvetica,sans-serif;
}

.np-post-date {
    margin: 5px;
    font-style: italic;
    font-size: 12px;
    font-weight: normal;
    color: #666666;
    float: left;
}

.np-post-edit {
    margin: 0 5px;
}

.np-post-content {
    margin: 0 15px;
    width: 581px;
    word-break: normal;
    overflow: auto;
}

.np-post-content p {
    margin: 3px 0;
}

.np-post-tags {
    margin: 3px;
    padding: 2px;
}

.np-post-tag {
    margin: 3px;
    padding: 4px;
    background-color: #AAAAAA;
    border: .1em dotted #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    cursor: pointer;
}

.np-toolbar {
    margin: 5px 0px !important;
    min-width: 974px !important;
}

#np-toolbar-editor {
    height: 100%;
}

.np-editor {
    padding: 1px;
    width: 477px;
}

.np-editor input {
  float: left;
  font-size: 1.2em;
  margin: 5px 0;
  padding: 5px;
  display: block;
  width: 98%;
  background-repeat: no-repeat;
  border: .1em solid #AAAAAA;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

#np-save-to {
    display: none;
}

#np-textarea {
    max-width: 476px;
    font-size: 14px;
    max-height: 360px;
}

.np-editor button {
    margin: 0 5px;
    height: 5%;
    width: 20%;
    float: right;
}

#np-editor-cancel {
    float: left;
}

#np-preview {
    background-color: #EEEEEE;
    word-wrap:break-word;
    padding: 5px;
    margin: 5px;
    width: 462px;
    height: 432px;
    overflow: auto;
}



.np-sidebar {
    width: 331px;
}

.np-sidebar-item {
    margin-left: 10px;
    padding: 10px;
    border-bottom:1px dotted #CCCCCC;
    border-right:1px dotted #CCCCCC;
}

.np-footer {
    margin: 5px 0;
    padding: 10px;
    background-color:#CCCCCC;
}