<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="utf-8" />
<meta name="robots" content="all" />
<meta name="author" content="" />
<meta name="copyright" content="nodepress 版权所有，未经授权禁止链接、复制或建立镜像。" />
<meta name="description" content="nodepress"/>
<meta name="keywords" content="nodepress"/>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>{{title}} | {{intro}}</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
{{#scripts}}
    {{&css}}
{{/scripts}}
</head>

