<script src="{{staticUrl}}/js{{debugUrl}}/deps.js" type="text/javascript" language="javascript"></script>
<script src="{{staticUrl}}/js/main.js" type="text/javascript" language="javascript"></script>
{{#is_owner}}
<script src="{{.staticUrl}}/js/user.js" type="text/javascript" language="javascript"></script>
{{/is_owner}}
<script type="text/javascript" language="javascript">
    $(function() {
        $.np.cookieName = '{{cookieName}}';
        $.np.totalPosts = '{{total}}';
        $.np.page = '{{page}}';

        //{{#is_owner}}
            //{{& .initUserJs}}
        //{{/is_owner}}

        //{{& initJs}}
    });
</script>